* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%);
}

.container {
    position: relative;
    width: 400px;
    height: 105px;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Poppins';
    transition: height 0.6s ease-out;
}

.search-bar {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar .search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0.5rem 0;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);  
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.search-bar .search-input input {
    color: rgb(232, 230, 227, 0.7);
    width: 100%;
    font-size: 24px;
    font-weight: 500;  
    background: rgba(255, 255, 255, 0);
    padding-left: 12px;
}

.search-bar .search-input input:focus {
    outline: none;
}

.search-bar input::placeholder {
    font-size: 20px;
    font-weight: 500;
    color: rgb(232, 230, 227, 0.8);
}


.search-bar .search-button button {
    cursor: pointer;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    transition: 1s;
}

.search-bar .search-button button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.search-bar i {
    color: rgb(232, 230, 227, 0.97);
    font-size: 24px;
}

#clear {
    cursor: pointer;
}

.weather-box {
    text-align: center;
    margin-bottom: 2px;
    margin-top: -100px;
}

.weather-box img {
    width: 60%;
}

.weather-box .temperature {
    position: relative;
    color: rgb(232, 230, 227);
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span {
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box {
    color: rgb(232, 230, 227, 0.85);
    font-size: 22px;
    font-weight: 500;
}

.description {
    text-transform: capitalize;
}

.not-found {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img {
    width: 70%;
}

.not-found p {
    color: rgb(232, 230, 227);
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
}

.weather-box {
    scale: 0;
    opacity: 0;
}

.fadeIn {
    animation: 0.5 fadeIn  forwards;
    animation-delay: 0.5s;
}

.divider {
    border-top: 2px solid rgb(232, 230, 227);; 
    width: 100%; 
    margin: 16px 0 16px 0;
}

.weather-box > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.weather-box > div .text {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.weather-box > div .text > * {
    margin: 0 8px 0 8px;
}

.description {
    margin-bottom: 35px;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}